# Simulation Football APP

In [1]:
import pandas as pd     
from datetime import datetime, timedelta

import plotly.express as px
from dash.dependencies import Input, Output
from dash import Dash, dcc, html
import dash_bootstrap_components as dbc
from dash_bootstrap_templates import load_figure_template

import dash_cytoscape as cyto

from dash import jupyter_dash
jupyter_dash.default_mode = 'external'

In [2]:
dbc_css = 'https://cdn.jsdelivr.net/gh/AnnMarieW/dash-bootstrap-templates@V1.0.2/dbc.min.css'

## Loading data

In [3]:
league_results = pd.read_csv('output_for_dash/league_results.csv')
el_results = pd.read_csv('output_for_dash/el_results.csv')
cl_results = pd.read_csv('output_for_dash/cl_results.csv')

cl_results = cl_results.drop(['Stage'], axis = 1)

In [4]:
# Pass stands for the number of teams from a given league that enter the champions league
# Europa stands for the number of teams from a given league that enter the europa league
# Elo is the quality of the team gotten from 'http://clubelo.com/'
# Tilt is the average of the sum of goals for and against for a given club (most of this is just self genereated with randomness)
# n_teams is the amount of teams in the league
league_results.head()

,Club,Points,GF,GA,GD,Group,Europa,n_teams,Rank,Elo,Tilt,Pass
0,CSKA Moskva,63,70,29,41,RUS,1,16,1,1586.484497,1.291198,0
1,Spartak Moskva,59,57,23,34,RUS,1,16,2,1575.062256,1.322364,0
2,FC Krasnodar,58,54,27,27,RUS,1,16,3,1614.293579,1.262068,0
3,Zenit,54,59,31,28,RUS,1,16,4,1654.944702,1.267104,0
4,Dynamo Moskva,48,46,36,10,RUS,1,16,5,1559.705566,1.273050,0

In [5]:
# Penalty here is a metric over if the knockout match got to penalties
el_results.head()

,Round,Club_A,Club_B,Result_A,Result_B,Winner,Elo_A,Elo_B,Penalty
0,1,Newcastle,Ferencvaros,7.0,2.0,Newcastle,1868.552734,1499.698364,NaN
1,1,Napoli,Backa Topola,7.0,1.0,Napoli,1838.371826,1247.674561,NaN
2,1,Juventus,Wolfsberg,5.0,1.0,Juventus,1805.846680,1480.162354,NaN
3,1,Benfica,CSKA Moskva,3.0,2.0,Benfica,1791.480469,1586.484497,NaN
4,1,Lille,Hoffenheim,4.0,1.0,Lille,1782.048340,1605.840576,NaN

In [6]:
cols = ['Round'] + [col for col in cl_results.columns if col != 'Round']
cl_results = cl_results[cols]

cl_results.head()

,Round,Club_A,Club_B,Result_A,Result_B,Winner,Elo_A,Elo_B,Penalty
0,1,Liverpool,Braga,5.0,2.0,Liverpool,1993.417969,1650.648804,NaN
1,1,Arsenal,Rangers,4.0,1.0,Arsenal,1993.340454,1587.439941,NaN
2,1,Paris SG,Fiorentina,2.0,2.2,Fiorentina,1974.937622,1756.971802,Penalty
3,1,Barcelona,Frankfurt,2.0,1.0,Barcelona,1945.430420,1745.757935,NaN
4,1,Real Madrid,Midtjylland,4.0,3.0,Real Madrid,1936.127319,1595.684082,NaN

## Functions

In [7]:
def club_tournament_filter(club, df1=cl_results, df2 = el_results):
    if club in df1['Club_A'].unique() or club in df1['Club_B'].unique():
        df = df1.copy()
        df["Competition"] = "CL"
        
    elif club in df2['Club_A'].unique() or club in df2['Club_B'].unique():
        df = df2.copy()
        df["Competition"] = "EL"
        
    else:
        return pd.DataFrame()

   
    df = df[(df['Club_A'] == club) | (df['Club_B'] == club)]

   
    mask = df['Club_B'] == club

    df.loc[mask, ['Club_A', 'Club_B']] = df.loc[mask, ['Club_B', 'Club_A']].values
    df.loc[mask, ['Result_A', 'Result_B']] = df.loc[mask, ['Result_B', 'Result_A']].values

    
    df = df.drop(columns = [col for col in ['Elo_A', 'Elo_B'] if col in df.columns])

    return df

In [8]:
club_tournament_filter('Arsenal')

,Round,Club_A,Club_B,Result_A,Result_B,Winner,Penalty,Competition
1,1,Arsenal,Rangers,4.0,1.0,Arsenal,NaN,CL
22,2,Arsenal,Liverpool,4.0,2.0,Arsenal,NaN,CL
26,3,Arsenal,Crystal Palace,1.0,3.0,Crystal Palace,NaN,CL

In [9]:
# Functions
def clean_tournament_table(df):

    subset = df.copy()
    
    subset['Round'] = subset['Round'].replace({
        1: 'R32',
        2: 'R16',
        3: 'QF',
        4: 'SF',
        5: 'F'})

    subset = subset.rename(columns={
        'Club_A': 'Team A',
        'Club_B': 'Team B',
        'Result_A': 'Score A',
        'Result_B': 'Score B',
    }) 

    subset = subset[['Round', 'Team A', 'Score A', 'Team B', 'Score B', 'Penalty']]

    

    return subset
    

def league_filter(league, df = league_results):
    subset = df[df['Group'] == league].copy()
    subset = subset[['Club', 'Points', 'GF', 'GA', 'GD']]
    
    subset.insert(0, 'Rank', range(1, len(subset) + 1))

    return subset

def club_league_filter(club, df = league_results):
       
    group = df.loc[df['Club'] == club, 'Group'].values[0]

    table = league_filter(group)

    return table
    
def table_fun(df):
    table = html.Div(
        dbc.Table.from_dataframe(
            df,
            striped = True,
            bordered = True,
            hover = True,
            class_name = "table-sm",  
        ),
        style = {
            "overflowX": "auto",
            "width": "100%",
            "fontSize": "14px",  
            "padding": "0px",   
        },
    )

    return(table)


def extract_number_of_teams_in_europa(league, df = league_results):
    
    subset = df[df['Group'] == league].copy()

    n_cl = subset.iloc[0]['Pass']

    n_el = subset.iloc[0]['Europa']


    return [n_cl, n_el]

In [10]:
# This function is very much ChatGpt generated, it makes the layout for a cup tree

def generate_bracket_elements(df):
    elements = []
    rounds = sorted(df['Round'].unique(), reverse=True)
    all_matches_by_round = {r: df[df['Round'] == r].copy().reset_index(drop=True) for r in rounds}

    ordered_matches = {rounds[0]: all_matches_by_round[rounds[0]]}  # Start with final

    # Build the full match order backwards
    for i in range(1, len(rounds)):
        r_now = rounds[i - 1]     # e.g. round 5
        r_prev = rounds[i]        # e.g. round 4

        matches_now = ordered_matches[r_now]
        matches_prev = all_matches_by_round[r_prev]

        new_order = []
        used = set()

        for _, match in matches_now.iterrows():
            a = match['Club_A']
            b = match['Club_B']

            for club in [a, b]:
                found = False
                for idx, prev_match in matches_prev.iterrows():
                    if idx in used:
                        continue
                    if prev_match['Winner'] == club:
                        new_order.append(prev_match)
                        used.add(idx)
                        found = True
                        break
                if not found:
                    # fallback: add empty Series if not found
                    new_order.append(pd.Series(dtype=object))

        # Fill missing matches if needed (walkovers, etc.)
        remaining = matches_prev[~matches_prev.index.isin(used)]
        for _, row in remaining.iterrows():
            new_order.append(row)

        ordered_matches[r_prev] = pd.DataFrame(new_order).reset_index(drop=True)

    # Reverse the ordered dict back to ascending round order
    final_ordered = {r: ordered_matches[r] for r in sorted(ordered_matches)}

    positions = {}         # Map (team, round) -> match_id
    match_positions = {}   # Map match_id -> {'x': x, 'y': y}

    x_spacing = 400
    min_round = min(final_ordered.keys())

    for round_num, matches in final_ordered.items():
        x = round_num * x_spacing

        if round_num == min_round:
            # Base round: assign initial y positions evenly spaced
            y_spacing = 80
            num_matches = len(matches)
            total_y = (num_matches - 1) * y_spacing
            start_y = total_y / -2  # center around y=0

            for i, row in matches.iterrows():
                if isinstance(row, pd.Series) and row.empty:
                    continue

                y = start_y + i * y_spacing
                match_id = f"{row['Club_A']}_{row['Club_B']}_R{row['Round']}"

                # Save position
                match_positions[match_id] = {'x': x, 'y': y}

                try:
                    score_a = int(row['Result_A'])
                    score_b = int(row['Result_B'])
                except:
                    score_a = score_b = 0

                winner = row.get('Winner', '')
                if winner == row['Club_A']:
                    label = f"*{row['Club_A']}* {score_a} - {score_b} {row['Club_B']}"
                elif winner == row['Club_B']:
                    label = f"{row['Club_A']} {score_a} - {score_b} *{row['Club_B']}*"
                else:
                    label = f"{row['Club_A']} {score_a} - {score_b} {row['Club_B']}"

                #label = f"{row['Club_A']} {score_a} - {score_b} {row['Club_B']}"

                elements.append({
                    'data': {'id': match_id, 'label': label},
                    'position': {'x': x, 'y': y},
                    'classes': 'match'
                })

                positions[(row['Club_A'], round_num)] = match_id
                positions[(row['Club_B'], round_num)] = match_id

        else:
            # Later rounds: position matches at average y of predecessor matches
            for i, row in matches.iterrows():
                if isinstance(row, pd.Series) and row.empty:
                    continue

                match_id = f"{row['Club_A']}_{row['Club_B']}_R{row['Round']}"
                prev_round = round_num - 1

                # Find the source matches for the two teams
                source_ids = []
                for team in [row['Club_A'], row['Club_B']]:
                    source_id = positions.get((team, prev_round))
                    if source_id:
                        source_ids.append(source_id)

                # Compute average y position of source matches
                if len(source_ids) == 2:
                    y = (match_positions[source_ids[0]]['y'] + match_positions[source_ids[1]]['y']) / 2
                elif len(source_ids) == 1:
                    y = match_positions[source_ids[0]]['y']
                else:
                    y = 0  # fallback default

                # Save position
                match_positions[match_id] = {'x': x, 'y': y}

                try:
                    score_a = int(row['Result_A'])
                    score_b = int(row['Result_B'])
                except:
                    score_a = score_b = 0

                #label = f"{row['Club_A']} {score_a} - {score_b} {row['Club_B']}"

                winner = row.get('Winner', '')
                if winner == row['Club_A']:
                    label = f"*{row['Club_A']}* {score_a} - {score_b} {row['Club_B']}"
                elif winner == row['Club_B']:
                    label = f"{row['Club_A']} {score_a} - {score_b} *{row['Club_B']}*"
                else:
                    label = f"{row['Club_A']} {score_a} - {score_b} {row['Club_B']}"

                elements.append({
                    'data': {'id': match_id, 'label': label},
                    'position': {'x': x, 'y': y},
                    'classes': 'match',
                    'locked': True,
                })

                positions[(row['Club_A'], round_num)] = match_id
                positions[(row['Club_B'], round_num)] = match_id

                # Add edges from previous matches to this match
                for source_id in source_ids:
                    elements.append({
                        'data': {'source': source_id, 'target': match_id}
                    })

    return elements

## APP - pre work

In [11]:
# Options
options_club = [
    {'label': name, 'value': name} for name in league_results['Club'].unique()
]

options_league = [
    {'label': name, 'value': name} for name in league_results['Group'].unique()
]


options_league += [
    {'label': 'Champions League', 'value': 'cl'},
    {'label': 'Europa League', 'value': 'el'}
]

In [12]:
# Input
league_selector = dcc.Dropdown(
    id = 'my_league',
    options = options_league,
    value = 'cl',
    clearable = False
)

club_selector = dcc.Dropdown(
    id = 'my_club',
    options = options_club,
    value = 'Chelsea',
    clearable = False
)


# Output
info_league = html.Div(
    id = 'info_league'
)

league_table1 = html.Div(
    id = 'league_table1',
)

league_table2 = html.Div(
    id = 'league_table2',
)

europa_tournament = html.Div(
    id = 'europa_tournament'
)


cl_table = table_fun(cl_results)


el_table = table_fun(el_results)

In [13]:
# Cyto for cup tree
# Made by chat gpt
cyto = cyto.Cytoscape(
        id = 'cyto',
        elements= [],
        style={'width': '100%', 'height': '900px', 'border': '1px solid black',
             #  'display': 'none' 
              },
        layout={
            'name': 'preset',
            'zoom': 0.45,
            'pan': {'x': -75, 'y': 475}
        },
        userZoomingEnabled = False,      # Disable zooming
        userPanningEnabled = False,      # Disable panning
        boxSelectionEnabled = False,     # Disable box selection
        autoungrabify = True,
        stylesheet=[
            {
                'selector': 'node',
                'style': {
                    'content': 'data(label)',
                    'text-valign': 'center',
                    'text-halign': 'center',
                    'background-color': 'green',
                    'color': 'white',
                    'width': 350,
                    'height': 40,
                    'font-size': 20,
                    'shape': 'roundrectangle',
                    'padding': '10px'
                }
            },
            {
                'selector': 'edge',
                'style': {
                    'target-arrow-shape': 'triangle',
                    'curve-style': 'bezier',
                    'arrow-scale': 2,
                    'line-color': '#aaa',
                    'target-arrow-color': '#aaa'
                }
            }
        ]
    )

In [14]:
# Tabs

tab_league = dcc.Tab(
    label = 'League',
    children = [
        html.Br(),
        league_selector,
        html.Br(),
        info_league,
        html.Br(),
        league_table1,
        html.Br(),
        cyto,
    ]
)

tab_club = dcc.Tab(
    label = 'Club',
    children = [
        html.Br(),
        club_selector,
        html.Br(),
        html.Br(),
        dbc.Row(
            dbc.Col(
                dbc.Card([
                    html.Br(),
                    europa_tournament],
                        style = {'textAlign' : 'center'}),
                width = 8
            ),
            justify = 'center'
        ),
        html.Br(),
        html.Br(),
        dbc.Row(
            dbc.Col(
                dbc.Card([
                    html.Br(),
                    html.H4('League table:'),
                    league_table2
                ], 
                         style = {'textAlign' : 'center'}
                        ),
                width = 10
            ),
            justify = 'center'
        ),

    ]
)

tabs = dbc.Row(
        dbc.Col(
            dcc.Tabs([
                tab_league,
                tab_club
            ]),
            #width = 8  # or adjust as needed
        ),
      #  justify='center'
    )

## The APP

In [15]:
app = Dash(external_stylesheets = [dbc.themes.LUX, dbc_css])

app.layout = dbc.Container(
    children = [

        html.Br(),

        html.H1('Eiriks football simulations results overview', style = {'textAlign' : 'center'}),
        

        html.Br(),

        dbc.Card(tabs),
        
        html.Br(),

        
        
    ],
    className = 'dbc'
)

In [16]:

@app.callback(
    Output('league_table1', 'children'),
    Output('info_league', 'children'),
    Output('cyto', 'elements'),
    Output('cyto', 'style'),
    Output('cyto', 'layout'), 
    Input('my_league', 'value'),
)
def update_league(league, df1 = cl_results, df2 = el_results):
    if league in ['cl', 'el']:

        if league == 'cl':
            subset = df1.copy()
        else: 
            subset = df2.copy()
        
        cyto_elements = generate_bracket_elements(subset)  
        
        return None, None, cyto_elements,  {
            'display': 'flex',
            'width': '100%',
            'height': '900px',
            'border': '1px solid black'
        }, {'name': 'preset'} 

    else:
     
        subset = league_filter(league)
        
        table = table_fun(subset)

        europe_lst = extract_number_of_teams_in_europa(league)


        info = [dbc.Row(html.P(f'Number of teams in Champions league: {europe_lst[0]}')),
                dbc.Row(html.P(f'Number of teams in Europa league: {europe_lst[1]}'))
               ]
                
        
        return table, info, [], {"display": "none"} , {'name': 'preset'} 



@app.callback(
    Output(component_id = 'league_table2', component_property = 'children'),
    Input(component_id = 'my_club', component_property = 'value'), 
)

def update_league2(club):
    
    subset = club_league_filter(club)
    table = table_fun(subset)

    return table

@app.callback(
    Output(component_id = 'europa_tournament', component_property = 'children'),
    Input(component_id = 'my_club', component_property = 'value'), 
)

def update_europa_tournament(club):
    
    subset = club_tournament_filter(club)

    if subset.empty:
        return html.P('Europe: This club did not play in Europe')

    if 'CL' in subset['Competition'].unique():
        title = html.H4('Champions League:', style = {'color' : 'blue'})


    if 'EL' in subset['Competition'].unique():
        title = html.H4('Europa League:', style = {'color' : 'orange'})

    subset = clean_tournament_table(subset)
      
    table = table_fun(subset)

    children = html.Div([
        title,
        table
    ])

    return children
    
    


app.run(debug = True, port = 1291)

Dash app running on http://127.0.0.1:1291/